[Install]
WantedBy=default.target

[Container]
Pod=Joplin
Image=docker.io/library/postgres:15
ContainerName=joplin-postgres
AutoUpdate=registry
Volume=joplin.volume:/var/lib/postgresql/data
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=joplin
